body{
    background-color: rgb(202, 102, 102);
    font: normal 15pt arial;
}

header{
 color: rgb(255, 255, 255);
 text-align: center;
}

div{
    text-align: center;
    padding: 5px;
}

section{
    background-color: whitesmoke;
    border-radius: 10px;
    width: 300px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 363);
}

footer{
color: black;
text-align: center;
font-style: italic;
}